<eui-split-button>
    <button euiButton (click)="onButtonClicked($event)">Default (euiSeconday)</button>
    <eui-dropdown>
        <button euiButton euiIconButton aria-label="Open dropdown">
            <eui-icon-svg icon="eui-chevron-down"></eui-icon-svg>
        </button>
        <eui-dropdown-content>
            @for (item of listItems; track $index) {
                <button euiDropdownItem [disabled]="item?.disabled" (click)="onListItemClicked(item)">
                    <span euiLabel>{{ item.label }}</span>
                </button>
            }
        </eui-dropdown-content>
    </eui-dropdown>
</eui-split-button>

<br/><br/>

<eui-split-button>
    <button euiButton euiPrimary (click)="onButtonClicked($event)">euiPrimary</button>
    <eui-dropdown>
        <button euiButton euiPrimary euiIconButton aria-label="Toggle primary Dropdown">
            <eui-icon-svg icon="eui-chevron-down"></eui-icon-svg>
        </button>
        <eui-dropdown-content>
            @for (item of listItems; track $index) {
                <button euiDropdownItem [disabled]="item?.disabled" (click)="onListItemClicked(item)">
                    <span euiLabel>{{ item.label }}</span>
                </button>
            }
        </eui-dropdown-content>
    </eui-dropdown>
</eui-split-button>

<br/><br/>

<eui-split-button>
    <button euiButton euiInfo (click)="onButtonClicked($event)">euiInfo</button>
    <eui-dropdown>
        <button euiButton euiInfo euiIconButton aria-label="Toggle info Dropdown">
            <eui-icon-svg icon="eui-chevron-down"></eui-icon-svg>
        </button>
        <eui-dropdown-content>
            @for (item of listItems; track $index) {
                <button euiDropdownItem [disabled]="item?.disabled" (click)="onListItemClicked(item)">
                    <span euiLabel>{{ item.label }}</span>
                </button>
            }
        </eui-dropdown-content>
    </eui-dropdown>
</eui-split-button>

<br/><br/>

<eui-split-button>
    <button euiButton euiSuccess (click)="onButtonClicked($event)">euiSuccess</button>
    <eui-dropdown>
        <button euiButton euiSuccess euiIconButton aria-label="Toggle success Dropdown">
            <eui-icon-svg icon="eui-chevron-down"></eui-icon-svg>
        </button>
        <eui-dropdown-content>
            @for (item of listItems; track $index) {
                <button euiDropdownItem [disabled]="item?.disabled" (click)="onListItemClicked(item)">
                    <span euiLabel>{{ item.label }}</span>
                </button>
            }
        </eui-dropdown-content>
    </eui-dropdown>
</eui-split-button>

<br/><br/>

<eui-split-button>
    <button euiButton euiWarning (click)="onButtonClicked($event)">euiWarning</button>
    <eui-dropdown>
        <button euiButton euiWarning euiIconButton aria-label="Toggle warning Dropdown">
            <eui-icon-svg icon="eui-chevron-down"></eui-icon-svg>
        </button>
        <eui-dropdown-content>
            @for (item of listItems; track $index) {
                <button euiDropdownItem [disabled]="item?.disabled" (click)="onListItemClicked(item)">
                    <span euiLabel>{{ item.label }}</span>
                </button>
            }
        </eui-dropdown-content>
    </eui-dropdown>
</eui-split-button>

<br/><br/>

<eui-split-button>
    <button euiButton euiDanger (click)="onButtonClicked($event)">euiDanger</button>
    <eui-dropdown>
        <button euiButton euiDanger euiIconButton aria-label="Toggle danger Dropdown">
            <eui-icon-svg icon="eui-chevron-down"></eui-icon-svg>
        </button>
        <eui-dropdown-content>
            @for (item of listItems; track $index) {
                <button euiDropdownItem [disabled]="item?.disabled" (click)="onListItemClicked(item)">
                    <span euiLabel>{{ item.label }}</span>
                </button>
            }
        </eui-dropdown-content>
    </eui-dropdown>
</eui-split-button>
