<eui-tabs (tabClose)="onTabClosed($event)" [activeTabIndex]="activeTabIndex">
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [id]="tab.id" #scrollabletab isClosable>
            <eui-tab-header>
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-sub-label>
                    {{ tab.tabSubLabel }}
                </eui-tab-header-sub-label>
            </eui-tab-header>
            <eui-tab-body>
                @if (scrollabletab.isActive) {
                    <dummy-comp [content]="tab.tabContent"></dummy-comp>
                }
            </eui-tab-body>
        </eui-tab>
    }
</eui-tabs>
<button euiButton euiSizeS (click)="addTab()">Add a tab</button><br/>
<br/>
@for(_ of nbTab; let i = $index; track $index) {
    <button euiButton euiSizeS (click)="activeTabIndex = i" class="eui-u-mb-2xs eui-u-mr-2xs">Change activeTabIndex to {{ i }}</button>
}
