<div>
    <ecl-category-filter>
        <ecl-category-filter-list>
            <ecl-category-filter-item>
                Item 1
            </ecl-category-filter-item>
            <ecl-category-filter-item>
                Item 2 label
                <ecl-category-filter-list>
                    <ecl-category-filter-item>
                        Item 2.1
                        <ecl-category-filter-list>
                            <ecl-category-filter-item>
                                Item 2.1.1
                            </ecl-category-filter-item>
                            <ecl-category-filter-item>
                                Item 2.1.2
                                <ecl-category-filter-list>
                                    <ecl-category-filter-item>
                                        Item 2.1.2 a
                                    </ecl-category-filter-item>
                                    <ecl-category-filter-item>
                                        Item 2.1.2 b
                                    </ecl-category-filter-item>
                                    <ecl-category-filter-item>
                                        Item 2.1.2 c
                                    </ecl-category-filter-item>
                                </ecl-category-filter-list>
                            </ecl-category-filter-item>
                            <ecl-category-filter-item>
                                Item 2.1.3
                            </ecl-category-filter-item>
                            <ecl-category-filter-item>
                                Item 2.1.4
                            </ecl-category-filter-item>
                        </ecl-category-filter-list>
                    </ecl-category-filter-item>
                    <ecl-category-filter-item>
                        Item 2.2
                    </ecl-category-filter-item>
                    <ecl-category-filter-item>
                        Item 2.3
                    </ecl-category-filter-item>
                    <ecl-category-filter-item>
                        Item 2.4
                    </ecl-category-filter-item>
                    <ecl-category-filter-item>
                        Item 2.5
                    </ecl-category-filter-item>
                    <ecl-category-filter-item>
                        Item 2.6
                    </ecl-category-filter-item>
                    <ecl-category-filter-item>
                        Item 2.7
                    </ecl-category-filter-item>
                </ecl-category-filter-list>
            </ecl-category-filter-item>
            <ecl-category-filter-item>
                Item 3 with a very long label
                <ecl-category-filter-list>
                    <ecl-category-filter-item>
                        Item 3.1
                        <ecl-category-filter-list>
                            <ecl-category-filter-item>
                                Item 3.1.1
                            </ecl-category-filter-item>
                            <ecl-category-filter-item>
                                Item 3.1.2
                                <ecl-category-filter-list>
                                    <ecl-category-filter-item>
                                        Item 3.1.2 a
                                    </ecl-category-filter-item>
                                    <ecl-category-filter-item>
                                        Item 3.1.2 b
                                    </ecl-category-filter-item>
                                    <ecl-category-filter-item>
                                        Item 3.1.2 c
                                    </ecl-category-filter-item>
                                </ecl-category-filter-list>
                            </ecl-category-filter-item>
                            <ecl-category-filter-item>
                                Item 3.1.3
                            </ecl-category-filter-item>
                            <ecl-category-filter-item>
                                Item 3.1.4
                            </ecl-category-filter-item>
                        </ecl-category-filter-list>
                    </ecl-category-filter-item>
                    <ecl-category-filter-item>
                        Item 3.2
                    </ecl-category-filter-item>
                    <ecl-category-filter-item>
                        Item 3.3
                    </ecl-category-filter-item>
                </ecl-category-filter-list>
            </ecl-category-filter-item>
            <ecl-category-filter-item>
                Item 4 label
                <ecl-category-filter-list>
                    @for (subItem of dynamicSubItems; track subItem.id) {
                    <ecl-category-filter-item (itemSelect)="onItemSelect($event)" [id]="subItem.id">
                        {{ subItem.label }}
                    </ecl-category-filter-item>
                    }
                </ecl-category-filter-list>
            </ecl-category-filter-item>
        </ecl-category-filter-list>
    </ecl-category-filter>
</div>


<h6 class="section-title">Dynamic with for block and default current item</h6>
<div>
    <ecl-category-filter [currentItemId]="itemId">
        <ecl-category-filter-list>
            @for (item of dynamicItems; track item.id) {
            <ecl-category-filter-item (itemSelect)="onItemSelect($event)" [id]="item.id">
                {{ item.label }}
                @if(item.children) {
                <ecl-category-filter-list>
                    @for (subItem of item.children; track subItem.id) {
                    <ecl-category-filter-item (itemSelect)="onItemSelect($event)" [id]="subItem.id">
                        {{ subItem.label }}
                        @if(subItem.children) {
                        <ecl-category-filter-list>
                            @for (subItem2 of subItem.children; track subItem2.id) {
                            <ecl-category-filter-item (itemSelect)="onItemSelect($event)" [id]="subItem2.id">
                                {{ subItem2.label }}
                                @if(subItem2.children) {
                                <ecl-category-filter-list>
                                    @for (subItem3 of subItem2.children; track subItem3.id) {
                                    <ecl-category-filter-item (itemSelect)="onItemSelect($event)" [id]="subItem3.id">
                                        {{ subItem3.label }}
                                    </ecl-category-filter-item>
                                    }
                                </ecl-category-filter-list>
                                }
                            </ecl-category-filter-item>
                            }
                        </ecl-category-filter-list>
                        }
                    </ecl-category-filter-item>
                    }
                </ecl-category-filter-list>
                }
            </ecl-category-filter-item>
            }
        </ecl-category-filter-list>
    </ecl-category-filter>
</div>
