<eui-tabs>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab #tabadd isClosable>
            <eui-tab-header>
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-sub-label>
                    {{ tab.tabSubLabel }}
                </eui-tab-header-sub-label>
            </eui-tab-header>
            <eui-tab-body>
                @if (tabadd.isActive) {
                    <dummy-comp [content]="tab.tabContent"></dummy-comp>
                }
            </eui-tab-body>
        </eui-tab>
    }
</eui-tabs>
<button euiButton euiSizeS (click)="addTab()">Add a tab</button>
