<strong>Reactive forms</strong> provide a scalable model-driven approach to handling form inputs whose values change over time.

<p class="eui-u-text-paragraph">They provide direct access to the underlying form API and use <strong>synchronous data flow</strong> between the view and the data model, which makes creating large-scale forms easier.
Reactive forms require less setup for testing, and testing does not require deep understanding of change detection to properly test form updates and validation.</p>

<p class="eui-u-text-paragraph">Reactive forms differ from template-driven forms in distinct ways.
They provide synchronous access to the data model, immutability with observable operators, change tracking through observable streams, having multiple controls in a group, validate form values, etc.
They can also be created dynamically by adding or removing controls at run time.</p>

<p class="eui-u-text-paragraph">For more information see :</p>
<ul>
    <li><a class="eui-u-text-link-external" href="https://angular.io/guide/reactive-forms" target="_blank">Reactive forms</a></li>
    <li><a class="eui-u-text-link-external" href="https://blog.angular-university.io/introduction-to-angular-2-forms-template-driven-vs-model-driven/" target="_blank">Angular Forms Guide - Template Driven and Reactive Forms</a></li>

</ul>
<br><br>

<eui-alert>
    <eui-alert-title>Important remark when using the <u>disabled</u> attribute with reactive forms</eui-alert-title>
    <p class="eui-u-text-paragraph">If you set the <strong>disabled</strong> attribute to true when you set up the form control in your component class, it will actually be set in the DOM for you.
    We recommend using the following approach to avoid the <code class="eui-u-text-code">ExpressionChangedAfterItHasBeenCheckedError</code>.</p>
    Example:<br>
<pre class="eui-u-text-pre">
    form = new FormGroup({{ '{' }}
        firstName: new FormControl({{ '{' }}value: 'Nancy', disabled: true{{ '}' }}, Validators.required),
        lastName: new FormControl('Drew', Validators.required),
    {{ '}' }});</pre>

    More resources and information can be found here :<br>
    <ul>
        <li><a class="eui-u-text-link-external" href="https://angular.io/errors/NG0100" target="_blank">NG0100: Expression has changed after it was checked</a></li>
        <li><a class="eui-u-text-link-external" href="https://blog.angular-university.io/angular-debugging/" target="_blank">Angular Debugging "Expression has changed after it was checked": Simple Explanation (and Fix)</a></li>
    </ul>
</eui-alert>


<div class="doc-sample-section-title">Reactive form with errors management & validators</div>
<div class="row">
    <div class="col-md-8">
        <form [formGroup]="form">
            <div euiInputGroup>
                <label for="email" euiLabel euiRequired>Email address</label>
                <eui-helper-text>Hint: provide a valid email address</eui-helper-text>
                <input euiInputText formControlName="multiErrors" id="email" />
                @if (form.get('multiErrors').errors?.required) {
                    <eui-feedback-message euiDanger>
                        This field is required
                    </eui-feedback-message>
                }
                @if (form.get('multiErrors').errors?.minlength) {
                    <eui-feedback-message euiDanger>
                        This minimum length is 10 characters
                    </eui-feedback-message>
                }
                @if (form.get('multiErrors').errors?.maxlength) {
                    <eui-feedback-message euiDanger>
                        The maximum length is 50 characters
                    </eui-feedback-message>
                }
                @if (form.get('multiErrors').errors?.email) {
                    <eui-feedback-message euiDanger>
                        This is not a valid email
                    </eui-feedback-message>
                }
            </div>
            <div euiInputGroup>
                <label for="max-length-bytes" euiLabel>Max length in bytes</label>
                <input euiInputText formControlName="maxLengthBytes" id="max-length-bytes" />
                @if (form.get('maxLengthBytes').errors?.maxLengthBytes) {
                    <eui-feedback-message euiDanger>
                        The maximum length is {{form.get('maxLengthBytes').errors.maxLengthBytes.required}} bytes (currently: {{form.get('maxLengthBytes').errors.maxLengthBytes.actual}} bytes)
                    </eui-feedback-message>
                }
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="doc-sample-section-title"><strong>Reactive form content</strong></div>
        <div class="eui-showcase-demo eui-u-mt-m">
            <div class="code" style="overflow-y: auto;" tabindex="0">
                <strong>Form errors</strong>
                <pre class="eui-u-text-pre" tabindex="0">&lcub; multiErrors: {{form.get('multiErrors').errors | json}}, maxLengthBytes: {{form.get('maxLengthBytes').errors | json}} &rcub;</pre>
                <strong>Form value</strong>
                <pre class="eui-u-text-pre" tabindex="0">{{form.value | json}}</pre>
                <div class="eui-u-flex">
                    <div class="eui-u-f-bold eui-u-mr-m">Form status</div>
                    <eui-badge euiSizeS [euiSuccess]="form.status === 'VALID'" [euiDanger]="form.status !== 'VALID'">
                        {{ form.status }}
                    </eui-badge>
                </div>
            </div>
            <div class="eui-u-flex eui-u-flex-wrap eui-u-mt-m">
                <button euiButton euiPrimary (click)="onSubmit()" class="eui-u-mr-m eui-u-mb-m">Submit form</button>
                <button euiButton euiOutline euiPrimary (click)="onResetForm()" class="eui-u-mr-m eui-u-mb-m">Reset</button>
            </div>
        </div>
    </div>
</div>
