<div class="doc-sample-section-title">With left-content and icon</div>

<eui-tabs>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [euiVariant]="tab.variant">
            <eui-tab-header>
                <eui-tab-header-left-content>
                    <eui-icon-svg [icon]="tab.icon"/>
                </eui-tab-header-left-content>
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>



<eui-tabs>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [euiVariant]="tab.variant">
            <eui-tab-header>
                <eui-tab-header-left-content>
                    <eui-icon-svg [icon]="tab.icon"/>
                </eui-tab-header-left-content>
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-sub-label>
                    {{ tab.tabSubLabel }}
                </eui-tab-header-sub-label>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>


<div class="doc-sample-section-title">With right-content and badge</div>

<eui-tabs>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [euiVariant]="tab.variant">
            <eui-tab-header>
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-right-content>
                    <eui-badge>99</eui-badge>
                </eui-tab-header-right-content>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>


<eui-tabs>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [euiVariant]="tab.variant">
            <eui-tab-header>
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-sub-label>
                    {{ tab.tabSubLabel }}
                </eui-tab-header-sub-label>
                <eui-tab-header-right-content>
                    <eui-badge>99</eui-badge>
                </eui-tab-header-right-content>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>


<div class="doc-sample-section-title">Both options</div>


<eui-tabs>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [euiVariant]="tab.variant">
            <eui-tab-header>
                <eui-tab-header-left-content>
                    <eui-icon-svg [icon]="tab.icon"/>
                </eui-tab-header-left-content>                
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-right-content>
                    <eui-badge>99</eui-badge>
                </eui-tab-header-right-content>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>

<eui-tabs>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [euiVariant]="tab.variant">
            <eui-tab-header>
                <eui-tab-header-left-content>
                    <eui-icon-svg [icon]="tab.icon"/>
                </eui-tab-header-left-content>                
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-sub-label>
                    {{ tab.tabSubLabel }}
                </eui-tab-header-sub-label>
                <eui-tab-header-right-content>
                    <eui-badge>99</eui-badge>
                </eui-tab-header-right-content>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>


<div class="doc-sample-section-title">Both options and isClosable</div>


<eui-tabs>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [euiVariant]="tab.variant" isClosable>
            <eui-tab-header>
                <eui-tab-header-left-content>
                    <eui-icon-svg [icon]="tab.icon"/>
                </eui-tab-header-left-content>                
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-right-content>
                    <eui-badge>99</eui-badge>
                </eui-tab-header-right-content>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>

<eui-tabs>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [euiVariant]="tab.variant" isClosable>
            <eui-tab-header>
                <eui-tab-header-left-content>
                    <eui-icon-svg [icon]="tab.icon"/>
                </eui-tab-header-left-content>                
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-sub-label>
                    {{ tab.tabSubLabel }}
                </eui-tab-header-sub-label>
                <eui-tab-header-right-content>
                    <eui-badge>99</eui-badge>
                </eui-tab-header-right-content>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>


<div class="doc-sample-section-title">Both options - isFlat</div>


<eui-tabs isFlat>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [euiVariant]="tab.variant" isClosable>
            <eui-tab-header>
                <eui-tab-header-left-content>
                    <eui-icon-svg [icon]="tab.icon"/>
                </eui-tab-header-left-content>                
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-right-content>
                    <eui-badge>99</eui-badge>
                </eui-tab-header-right-content>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>

<eui-tabs isFlat>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab [euiVariant]="tab.variant" isClosable>
            <eui-tab-header>
                <eui-tab-header-left-content>
                    <eui-icon-svg [icon]="tab.icon"/>
                </eui-tab-header-left-content>                
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-sub-label>
                    {{ tab.tabSubLabel }}
                </eui-tab-header-sub-label>
                <eui-tab-header-right-content>
                    <eui-badge>99</eui-badge>
                </eui-tab-header-right-content>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>
