<eui-alert>
    When the <code class="eui-u-text-code">isHandleActivateTab</code> option is enabled on a tab, clicking the header emits an event instead of immediately opening the tab. It is then up to the user to handle any necessary processing before explicitly calling the function <code class="eui-u-text-code">activateTab</code> to open the tab.
</eui-alert><br/>

<eui-tabs #euiTabsHandleActivate (tabClick)="onTabClick($event)">
    <eui-tab #tab1>
        <eui-tab-header>
            <eui-tab-header-label>Tab 1</eui-tab-header-label>
        </eui-tab-header>
        <eui-tab-body>
            @if (tab1.isActive) {
                <one-comp></one-comp>
            }
        </eui-tab-body>
    </eui-tab>
    <eui-tab #tab2 isHandleActivateTab>
        <eui-tab-header>
            <eui-tab-header-label>Tab 2</eui-tab-header-label>
        </eui-tab-header>
        <eui-tab-body>
            @if (tab2.isActive) {
                <two-comp></two-comp>
            }
        </eui-tab-body>
    </eui-tab>
    <eui-tab #tab3>
        <eui-tab-header>
            <eui-tab-header-label>Tab 3</eui-tab-header-label>
        </eui-tab-header>
        <eui-tab-body>
            @if (tab3.isActive) {
                <three-comp></three-comp>
            }
        </eui-tab-body>
    </eui-tab>
</eui-tabs>
