<div class="row">
    <div class="col-md-7">
        <div class="doc-sample-section-title">Reactive form</div>
        <form [formGroup]="form">
            <div euiInputGroup>
                <label euiLabel euiRequired for="text-form">Label</label>
                <div euiInputGroupAddOn>
                    <input euiInputText id="text-form" formControlName="control" [readonly]="isReadonly"/>
                    @if (!isReadonly) {
                        <button euiButton euiPrimary euiOutline [euiDisabled]="isDisabled" (click)="onSubmit()">Submit</button>
                    }
                </div>
                @if (!isReadonly && render('control')) {
                    <eui-feedback-message euiDanger>This field is required</eui-feedback-message>
                }
            </div>

            <div euiInputGroup>
                <label euiLabel euiRequired for="story_max255">Tell us your story (euiMaxlength=255)</label>
                <input euiInputText
                        id="story_max255"
                        formControlName="storyControl"
                        [readonly]="isReadonly"
                        [euiMaxlength]="255"
                        (maxLengthReached)="onMaxLengthReached($event)" />
                @if (!isReadonly && render('storyControl')) {
                    <eui-feedback-message euiDanger>This field is required</eui-feedback-message>
                }
                @if (!isReadonly && isMaxLengthReached) {
                    <eui-feedback-message euiWarning>The maximum length of 255 characters has been reached !</eui-feedback-message>
                }
            </div>
        </form>
    </div>

    <div class="col-md-5">
        <div class="doc-sample-section-title">Reactive Form content</div>
        <div class="eui-showcase-demo eui-u-mt-m">
            <div class="code" style="overflow-y: auto;" tabindex="0">
                <pre class="eui-u-text-pre" tabindex="0">{{ form.value | json }}</pre>
                <div class="eui-u-flex">
                    <div class="eui-u-f-bold eui-u-mr-m">Form status</div>
                    <eui-badge euiSizeS [euiSuccess]="form.status === 'VALID'" [euiDanger]="form.status !== 'VALID'">
                        {{ form.status }}
                    </eui-badge>
                </div>
            </div>
        </div>

        <div class="eui-u-flex eui-u-flex-wrap eui-u-mt-m">
            <button euiButton euiPrimary (click)="onSubmit()" class="eui-u-mr-m eui-u-mb-m">Submit form</button>
            <button euiButton euiOutline euiPrimary (click)="isReadonly = !isReadonly" class="eui-u-mr-m eui-u-mb-m">Toggle readonly</button>
            <button euiButton euiOutline euiPrimary (click)="toggleDisabled()" class="eui-u-mr-m eui-u-mb-m">Toggle disabled</button>
            <button euiButton euiOutline euiPrimary (click)="onChangeValue()" class="eui-u-mr-m eui-u-mb-m">Set random value</button>
        </div>
    </div>
</div>
