<div class="doc-sample-section-title">Text only</div>

<div class="row">
    <div class="col-md-4">
        <eui-dashboard-card>
            <eui-dashboard-card-content>
                test
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
</div>

<div class="doc-sample-section-title">isClickeable</div>

<div class="row">
    <div class="col-md-4">
        <eui-dashboard-card isClickeable>
            <eui-dashboard-card-content>
                test
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
</div>


<div class="doc-sample-section-title">isFlat</div>

<div class="row">
    <div class="col-md-4">
        <eui-dashboard-card isFlat>
            <eui-dashboard-card-content>
                test
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
</div>

<div class="doc-sample-section-title">isFlat & isClickeable</div>

<div class="row">
    <div class="col-md-4">
        <eui-dashboard-card isFlat isClickeable>
            <eui-dashboard-card-content>
                test
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
</div>


<div class="doc-sample-section-title">with avatar, isClickeable</div>

<div class="row">
    <div class="col-md-4">
        <eui-dashboard-card isClickeable>
            <eui-dashboard-card-content>
                <div class="eui-u-flex">
                    <eui-avatar euiOutline euiPrimary>
                        <eui-avatar-icon>
                            <eui-icon-svg icon="eui-flash" />
                        </eui-avatar-icon>
                    </eui-avatar>

                    <div class="eui-u-display-flex eui-u-flex-column eui-u-flex-align-items-start eui-u-ml-m">
                        <strong>Label</strong>
                        <div class="eui-u-mt-2xs">
                            Sub label
                        </div>
                    </div>
                </div>
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
</div>

<div class="doc-sample-section-title">with avatar, isFlat, isClickeable</div>

<div class="row">
    <div class="col-md-4">
        <eui-dashboard-card isFlat isClickeable>
            <eui-dashboard-card-content>
                <div class="eui-u-flex">
                    <eui-avatar euiOutline euiPrimary>
                        <eui-avatar-icon>
                            <eui-icon-svg icon="eui-flash" />
                        </eui-avatar-icon>
                    </eui-avatar>

                    <div class="eui-u-display-flex eui-u-flex-column eui-u-flex-align-items-start eui-u-ml-m">
                        <strong>Label</strong>
                        <div class="eui-u-mt-2xs">
                            Sub label
                        </div>
                    </div>
                </div>
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
</div>



<div class="doc-sample-section-title">with avatar, isFlat, isClickeable - with long sub-label line-clamp</div>

<div class="row">
    <div class="col-md-4">
        <eui-dashboard-card isFlat isClickeable>
            <eui-dashboard-card-content>
                <div class="eui-u-flex">
                    <eui-avatar euiOutline euiPrimary>
                        <eui-avatar-icon>
                            <eui-icon-svg icon="eui-flash" />
                        </eui-avatar-icon>
                    </eui-avatar>

                    <div class="eui-u-display-flex eui-u-flex-column eui-u-flex-align-items-start eui-u-ml-m">
                        <strong>Label</strong>
                        <div class="eui-u-mt-2xs eui-u-line-clamp-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
</div>


<div class="doc-sample-section-title">GPT custom dashboard card example</div>

<br>
<strong>Compact card</strong>

<div class="row">
    <div class="col-md-4">
        <eui-dashboard-card isFlat isClickeable euiOutline euiSuccess>
            <eui-dashboard-card-content class="eui-u-flex-column eui-u-p-m">
                <div class="eui-u-flex eui-u-flex-align-items-start">
                    <eui-avatar euiOutline euiPrimary>
                        <eui-avatar-icon>
                            <eui-icon-svg icon="eui-flash" />
                        </eui-avatar-icon>
                    </eui-avatar>

                    <div class="eui-u-display-flex eui-u-flex-column eui-u-flex-align-items-start eui-u-ml-m">
                        <strong>Label</strong>
                        <div class="eui-u-mt-2xs eui-u-line-clamp-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
                <div class="eui-u-flex eui-u-mt-l">
                    <eui-icon-svg icon="eui-flash" fillColor="secondary"/>
                    <span class="eui-u-ml-xs">Runs automatically</span>
                    <div class="eui-u-ml-auto">
                        <eui-icon-svg icon="heart:regular" fillColor="secondary"/>
                    </div>
                </div>
            </eui-dashboard-card-content>
            <eui-dashboard-card-status-content>
                <eui-chip euiSizeS euiSuccess>
                    <eui-icon-svg icon="eui-flash"/>
                    NEW
                </eui-chip>
            </eui-dashboard-card-status-content>
        </eui-dashboard-card>
    </div>
</div>




<div class="doc-sample-section-title">isFlat & euiOutline option - state colors</div>

<div class="row">
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline euiPrimary>
            <eui-dashboard-card-content>
                euiPrimary
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline euiSuccess>
            <eui-dashboard-card-content>
                euiSuccess
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline euiWarning>
            <eui-dashboard-card-content>
                euiWarning
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline euiDanger>
            <eui-dashboard-card-content>
                euiDanger
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
</div>


<div class="doc-sample-section-title">isFlat & euiOutline option & status content - state colors</div>

<div class="row">
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline euiPrimary>
            <eui-dashboard-card-content>
                euiPrimary
            </eui-dashboard-card-content>
            <eui-dashboard-card-status-content>
                <eui-chip euiSizeS euiOutline euiPrimary>status</eui-chip>
            </eui-dashboard-card-status-content>
        </eui-dashboard-card>
    </div>
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline euiSuccess>
            <eui-dashboard-card-content>
                euiSuccess
            </eui-dashboard-card-content>
            <eui-dashboard-card-status-content>
                <eui-chip euiSizeS euiOutline euiSuccess>status</eui-chip>
            </eui-dashboard-card-status-content>
        </eui-dashboard-card>
    </div>
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline euiWarning>
            <eui-dashboard-card-content>
                euiWarning
            </eui-dashboard-card-content>
            <eui-dashboard-card-status-content>
                <eui-chip euiSizeS euiOutline euiWarning>status</eui-chip>
            </eui-dashboard-card-status-content>
        </eui-dashboard-card>
    </div>
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline euiDanger>
            <eui-dashboard-card-content>
                euiDanger
            </eui-dashboard-card-content>
            <eui-dashboard-card-status-content>
                <eui-chip euiSizeS euiOutline euiDanger>status</eui-chip>
            </eui-dashboard-card-status-content>
        </eui-dashboard-card>
    </div>
</div>



<div class="doc-sample-section-title">isFlat & euiOutline option & isClickeable - state colors</div>

<div class="row">
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline isClickeable euiPrimary>
            <eui-dashboard-card-content>
                euiPrimary
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline isClickeable euiSuccess>
            <eui-dashboard-card-content>
                euiSuccess
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline isClickeable euiWarning>
            <eui-dashboard-card-content>
                euiWarning
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline isClickeable euiDanger>
            <eui-dashboard-card-content>
                euiDanger
            </eui-dashboard-card-content>
        </eui-dashboard-card>
    </div>
</div>


<div class="doc-sample-section-title">Extra colorPalette - Tailwind</div>
<br>

<div class="row  eui-u-flex-gap-m">
@for (colorPalette of colorPalettes; track colorPalette) {
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline colorPalette="{{colorPalette}}">
            <eui-dashboard-card-content>
                {{colorPalette}}
            </eui-dashboard-card-content>
            <eui-dashboard-card-status-content>
                <eui-chip euiSizeS euiOutline colorPalette="{{colorPalette}}">status</eui-chip>
            </eui-dashboard-card-status-content>
        </eui-dashboard-card>
    </div>
}
</div>
<br><br>


<div class="doc-sample-section-title">Extra colorPalette - ECL</div>
<br>

<div class="row  eui-u-flex-gap-m">
@for (colorPalette of colorPalettesEcl; track colorPalette) {
    <div class="col-md-2">
        <eui-dashboard-card isFlat euiOutline colorPalette="{{colorPalette}}">
            <eui-dashboard-card-content>
                {{colorPalette}}
            </eui-dashboard-card-content>
            <eui-dashboard-card-status-content>
                <eui-chip euiSizeS euiOutline colorPalette="{{colorPalette}}">status</eui-chip>
            </eui-dashboard-card-status-content>
        </eui-dashboard-card>
    </div>
}
</div>
<br><br>