<div class="row">
    <div class="col-md-7">
        <div class="doc-sample-section-title">Reactive forms</div>
        <form [formGroup]="form">
            <div euiInputGroup>
                <label euiLabel euiRequired for="select-form">Select month</label>
                <select euiSelect id="select-form" name="month" formControlName="controlValue" placeholder="--select a month--" [readonly]="isReadonly">
                    @for (option of options; let i = $index; track $index) {
                        <option [ngValue]="option.value">{{option.label}}</option>
                    }
                </select>
                @if (hasError('controlValue')) {
                    <eui-feedback-message euiDanger>This field is required</eui-feedback-message>
                }
            </div>

            <div euiInputGroup>
                <label euiLabel euiRequired for="select-form-1">With predefined value</label>
                <select euiSelect id="select-form-1" name="month2" formControlName="controlValue2" [readonly]="isReadonly">
                    @for (option of options; let i = $index; track $index) {
                        <option [ngValue]="option.value">{{option.label}}</option>
                    }
                </select>
                @if (hasError('controlValue2')) {
                    <eui-feedback-message euiDanger>This field is required</eui-feedback-message>
                }
            </div>

            <div euiInputGroup>
                <label euiLabel euiRequired for="select-form-2">With predefined value and selected through inline template</label>
                <select euiSelect id="select-form-2" name="month3" formControlName="controlValue3" [readonly]="isReadonly">
                    @for (option of options; let i = $index; track $index) {
                        <option [ngValue]="option.value" [attr.disabled]="option?.disabled">{{option.label}}</option>
                    }
                    <option value="jan2023" selected>January 2023</option>
                </select>
                @if (hasError('controlValue3')) {
                    <eui-feedback-message euiDanger>This field is required</eui-feedback-message>
                }
            </div>

            <div euiInputGroup>
                <label euiLabel euiRequired for="select-form-multiple">with multiple</label>
                <select euiSelect id="select-form-multiple" name="month" formControlName="controlValue4" multiple [readonly]="isReadonly">
                    @for (option of options; let i = $index; track $index) {
                        <option [ngValue]="option.value">{{option.label}}</option>
                    }
                </select>
                @if (hasError('controlValue4')) {
                    <eui-feedback-message euiDanger>This field is required</eui-feedback-message>
                }
            </div>
        </form>
    </div>

    <div class="col-md-5">
        <div class="doc-sample-section-title">Reactive Form content</div>
        <div class="eui-showcase-demo eui-u-mt-m">
            <div class="code" style="overflow-y: auto;" tabindex="0">
                <div class="eui-u-f-bold eui-u-mr-m">Value</div>
                <pre class="eui-u-text-pre" tabindex="0">{{form.getRawValue() | json}}</pre>
                <div class="eui-u-flex">
                    <div class="eui-u-f-bold eui-u-mr-m">Status</div>
                    <eui-badge euiSizeS [euiSuccess]="form.valid" [euiDanger]="!form.valid">
                        {{ form.valid ? 'VALID' : 'INVALID' }}
                    </eui-badge>
                    <eui-badge euiSizeS [euiSuccess]="form.touched" [euiDanger]="!form.touched">
                        {{ form.touched ? 'TOUCHED' : 'UNTOUCHED' }}
                    </eui-badge>
                    @if (form.disabled) {
                        <eui-badge euiSizeS [euiSuccess]="form.disabled">
                            DISABLED
                        </eui-badge>
                    }
                </div>
            </div>
        </div>
        <div class="eui-u-flex eui-u-flex-wrap eui-u-mt-m">
            <button euiButton euiPrimary (click)="onSubmit()" class="eui-u-mr-m eui-u-mb-m">Submit form</button>
            <button euiButton euiOutline euiPrimary (click)="onResetForm()" class="eui-u-mr-m eui-u-mb-m">Reset</button>
            <button euiButton euiPrimary euiOutline (click)="onToggleReadonly()" class="eui-u-mr-m eui-u-mb-m">Toggle Readonly</button>
            <button euiButton euiPrimary euiOutline (click)="onToggleDisabled()" class="eui-u-mr-m eui-u-mb-m">Toggle Disabled</button>
            <button euiButton euiPrimary euiOutline (click)="changeValue()" class="eui-u-mr-m eui-u-mb-m">Change value</button>
        </div>
    </div>
</div>
