<eui-alert class="eui-u-mb-xl">
    <p class="eui-u-text-paragraph eui-u-mt-none">
        The <strong>eUI default </strong>core icons set and the
        <a class="eui-u-text-link-external eui-u-f-bold" href="https://phosphoricons.com/" target="_blank">Phosphor</a>
        icons sets (Regular set variant recommended first and Fill set variant) are the default icon sets from the current <strong>eUI 21 Design System</strong>.
    </p>
</eui-alert>

<eui-tabs [activeTabIndex]="0">
    <!-- eUI CORE -->
    <eui-tab>
        <eui-tab-header>
            <eui-label>
                eui (default)
                <eui-badge euiPrimary euiSizeS euiOutline class="eui-u-ml-s">{{ euiCoreRendered?.length }}</eui-badge>
            </eui-label>
        </eui-tab-header>
        <eui-tab-body>
            <div class="icons-demo">
                @for (icon of euiCoreRendered; track icon; let i = $index) {
                    <div class="icon-item-container" title="{{icon}}" (click)="openPopover($event, icon, 'eui', selectedSize, selectedColor)" [euiTooltip]="icon" euiTooltipInfo>
                        <div class="icon-item-inner-container">
                            <eui-icon-svg icon="{{icon}}" size="l" set="eui" fillColor="secondary" />
                        </div>
                        <span class="icon-item-title">{{icon}}</span>
                    </div>
                }
            </div>
        </eui-tab-body>
    </eui-tab>

    <!-- FILE TYPES -->
    <eui-tab>
        <eui-tab-header>
            <eui-label>
                eui-file
                <eui-badge euiPrimary euiSizeS euiOutline class="eui-u-ml-s">{{ euiFilesRendered?.length }}</eui-badge>
            </eui-label>
        </eui-tab-header>
        <eui-tab-body>
            <div class="icons-demo">
                @for (icon of euiFilesRendered; track icon; let i = $index) {
                    <div class="icon-item-container" title="{{icon}}" (click)="openPopover($event, icon, 'eui-file', selectedSize, selectedColor)" [euiTooltip]="icon" euiTooltipInfo>
                        <div class="icon-item-inner-container">
                            <eui-icon-svg icon="{{icon}}" size="l" set="eui-file" fillColor="secondary" />
                        </div>
                        <span class="icon-item-title">{{icon}}</span>
                    </div>
                }
            </div>
        </eui-tab-body>
    </eui-tab>    

    <!-- ECL -->
    <eui-tab>
        <eui-tab-header>
            <eui-label>
                ecl
                <eui-badge euiPrimary euiSizeS euiOutline class="eui-u-ml-s">{{ ECLRendered?.length }}</eui-badge>
            </eui-label>
        </eui-tab-header>
        <eui-tab-body>
            <div class="icons-demo">
                @for (icon of ECLRendered; track icon; let i = $index) {
                    <div class="icon-item-container" title="{{icon}}" (click)="openPopover($event, icon, 'ecl', selectedSize, selectedColor)" [euiTooltip]="icon" euiTooltipInfo>
                        <div class="icon-item-inner-container">
                            <eui-icon-svg icon="{{icon}}" size="l" set="ecl" fillColor="secondary" />
                        </div>
                        <span class="icon-item-title">{{icon}}</span>
                    </div>
                }
            </div>
        </eui-tab-body>
    </eui-tab>

    <!-- PHOSPHOR REGULAR -->
    <eui-tab>
        <eui-tab-header>
            <eui-label class="eui-u-text-truncate">
                regular (phosphor)
                <eui-badge euiPrimary euiSizeS euiOutline class="eui-u-ml-s">{{ phosphorRendered?.length }}</eui-badge>
            </eui-label>
        </eui-tab-header>
        <eui-tab-body>
            <div class="icons-demo">
                @for (icon of phosphorRendered; track icon; let i = $index) {
                    <div class="icon-item-container" (click)="openPopover($event, icon, 'regular', selectedSize, selectedColor)" [euiTooltip]="icon" euiTooltipInfo>
                        <div class="icon-item-inner-container">
                            <eui-icon-svg icon="{{icon}}:regular" size="l" fillColor="secondary" />
                        </div>
                        <span class="icon-item-title">{{icon}}</span>
                    </div>
                }
            </div>
        </eui-tab-body>
    </eui-tab>

    <!-- PHOSPHOR FILL -->
    <eui-tab>
        <eui-tab-header>
            <eui-label>
                fill (phosphor)
                <eui-badge euiPrimary euiSizeS euiOutline class="eui-u-ml-s">{{ phosphorRendered?.length }}</eui-badge>
            </eui-label>
        </eui-tab-header>
        <eui-tab-body>
            <div class="icons-demo">
                @for (icon of phosphorRendered; track icon; let i = $index) {
                    <div class="icon-item-container" (click)="openPopover($event, icon, 'fill', selectedSize, selectedColor)" [euiTooltip]="icon" euiTooltipInfo>
                        <div class="icon-item-inner-container">
                            <eui-icon-svg icon="{{icon}}:fill" size="l" fillColor="secondary" />
                        </div>
                        <span class="icon-item-title">{{icon}}</span>
                    </div>
                }
            </div>
        </eui-tab-body>
    </eui-tab>

    <eui-tabs-right-content class="eui-u-flex">
        <form [formGroup]="searchFormValidated">
            <div euiInputGroup class="eui-u-mb-none">
                <div euiInputGroupAddOn>
                    <input euiInputText
                        type="search"
                        formControlName="searchFieldValidated"
                        placeholder="Icon search filter..."
                        aria-label="Icon search filter"
                        (keypress.enter)="onSearchValidated()"
                        euiClearable />
                    <button euiButton euiPrimary euiOutline euiIconButton (click)="onSearchValidated()" aria-label="Icon Search">
                        <eui-icon-svg icon="eui-search" />
                    </button>
                </div>
            </div>
        </form>
    </eui-tabs-right-content>
</eui-tabs>


<eui-popover #popover title="{{ (selectedSet).toUpperCase() }} &mdash; {{selectedIcon}}">
    <div class="eui-u-flex eui-u-flex-column eui-u-flex-gap-s">
        <div class="eui-u-flex eui-u-flex-gap-m">
            <eui-icon-svg [icon]="selectedSet !== 'eui' ? selectedIcon+':'+selectedSet : selectedIcon" [set]="selectedSet" size="2xl" fillColor="primary" />
            <div class="eui-u-flex eui-u-f-2xl eui-u-c-neutral-dark">{{ selectedIcon }}</div>
            <div class="eui-u-inline-flex eui-u-flex-column">
                <div class="eui-u-text-tiny">24x24</div>
                <eui-icon-svg [icon]="selectedSet !== 'eui' ? selectedIcon+':'+selectedSet : selectedIcon" [set]="selectedSet" size="m" fillColor="primary" style="outline: 1px dashed silver" />
            </div>
        </div>
        <input euiInputText
            value="<eui-icon-svg icon=&quot;{{selectedIcon}}:{{selectedSet}}&quot; />"
            readonly />
        <div class="eui-u-flex eui-u-flex-justify-content-center">
            <button euiButton euiOutline euiPrimary euiSizeS (click)="copySourceToClipboard(selectedIcon);">
                <eui-icon-svg icon="eui-copy" />
                Copy to clipboard
            </button>
        </div>
    </div>
</eui-popover>
