<eui-app>
    <eui-app-toolbar>
        <eui-toolbar>
            <eui-toolbar-logo/>
            <eui-toolbar-app appName="appName"/>
            <eui-toolbar-environment>MOCK</eui-toolbar-environment>

            <eui-toolbar-items>
                <eui-toolbar-item>
                    <eui-user-profile isShowAvatarInitials [subInfos]="userRole">
                        <eui-user-profile-menu>
                            <eui-user-profile-menu-item>
                                <eui-icon-svg icon="user:regular"/>{{ 'eui.my-profile-informations' | translate }}
                            </eui-user-profile-menu-item>
                            <eui-user-profile-menu-item (click)="logout()">
                                <eui-icon-svg icon="sign-out:regular"/>{{ 'eui.sign-out' | translate }}
                            </eui-user-profile-menu-item>
                        </eui-user-profile-menu>
                    </eui-user-profile>
                </eui-toolbar-item>

                <eui-toolbar-item>
                    <eui-notifications [count]="notificationItems.length" [items]="notificationItems" />
                </eui-toolbar-item>
            </eui-toolbar-items>

            <eui-language-selector/>
        </eui-toolbar>
    </eui-app-toolbar>
    <eui-app-sidebar>
        <eui-app-sidebar-body>
            <eui-app-sidebar-menu [items]="sidebarItems"/>
        </eui-app-sidebar-body>
    </eui-app-sidebar>
    <eui-app-breadcrumb>
        <eui-breadcrumb>
            <eui-breadcrumb-item link="/screen/home" iconSvgName="eui-home" ariaLabel="Home"></eui-breadcrumb-item>
            @for (item of breadcrumbService.breadcrumbs$ | async; track item.id) {
                <eui-breadcrumb-item
                    [id]="item.id"
                    [link]="item.link"
                    [label]="item.label">
                </eui-breadcrumb-item>
            }
        </eui-breadcrumb>
    </eui-app-breadcrumb>
</eui-app>
