<div class="row">
    <div class="col-md-7">

        <div class="doc-sample-section-title">Two-way data binding (ngModel)</div>
        <form #myForm="ngForm" id="my-form" novalidate (ngSubmit)="onSubmitModel(myForm)">
            <div euiInputGroup>
                <label euiLabel euiRequired for="text-model-driven">Label 1</label>
                <input euiInputText id="text-model-driven" name="text-model-driven" [(ngModel)]="model1" [readonly]="isReadonly" [disabled]="isDisabled" required [isInvalid]="myForm.invalid" />
                @if (myForm.status ==='INVALID') {
                    <eui-feedback-message euiDanger>This field is required</eui-feedback-message>
                }
            </div>

            <div euiInputGroup>
                <label euiLabel for="text-model-driven-addon">Label 2</label>
                <div euiInputGroupAddOn>
                    @if (!isReadonly) {
                        <div euiInputGroupAddOnItem>
                            <eui-icon-svg icon="eui-home" size="s" fillColor="secondary"></eui-icon-svg>
                        </div>
                    }
                    <input euiInputText id="text-model-driven-addon" name="text-model-driven-addon" [(ngModel)]="model2" [readonly]="isReadonly" [disabled]="isDisabled" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-5">
        <div class="doc-sample-section-title">NgModel content</div>
        <div class="eui-showcase-demo eui-u-mt-m">
            <div class="code" style="overflow-y: auto;" tabindex="0">
                <pre class="eui-u-text-pre" tabindex="0">{{ myForm.value | json }}</pre>
                <div class="eui-u-flex">
                    <div class="eui-u-f-bold eui-u-mr-m">Form status</div>
                    <eui-badge euiSizeS [euiSuccess]="myForm.status === 'VALID'" [euiDanger]="myForm.status !== 'VALID'">
                        {{ myForm.status }}
                    </eui-badge>
                </div>
            </div>
        </div>

        <div class="eui-u-flex eui-u-flex-wrap eui-u-mt-m">
            <button form="my-form" type="submit" euiButton euiPrimary class="eui-u-mr-m eui-u-mb-m">Submit form</button>
        </div>
    </div>
</div>
