<eui-tabs isMainNavigation>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab>
            <eui-tab-header>
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-sub-label>
                    {{ tab.tabSubLabel }}
                </eui-tab-header-sub-label>
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>


<div class="doc-sample-section-title">isFlat variant</div>

<eui-tabs isFlat isMainNavigation>
    @for (tab of tabs; let i = $index; track tab) {
        <eui-tab>
            <eui-tab-header>
                <eui-tab-header-label>
                   {{ tab.tabLabel }}
                </eui-tab-header-label>
                <eui-tab-header-sub-label>
                    {{ tab.tabSubLabel }}
                </eui-tab-header-sub-label>                
            </eui-tab-header>
            <eui-tab-body>{{ tab.tabContent }}</eui-tab-body>
        </eui-tab>
    }
</eui-tabs>